/* Universal selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

body {
  background-color: #eff5f9;
}

/* add style to header (adds padding, font style, background color and font color */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #1a7dbb;
  color: #eff5f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Name {
  font-size: 65%;
  font-family: fantasy;
  color: #bd6925;
  float: right;
  margin-top: 5px;
}

/* content in h1 header is on main axis with display set to inline-block */
.header h1 {
  display: inline-block;
  font-size: 42px;
}
/* add style to header navigation (adds padding to top, margin, font size and font color and float to right hand side */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  font-size: 25px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
  margin-top: 5px;
}

/* anchor tags set to color #ffffff */
a {
  color: #eff5f9;
  text-decoration: none;
}
/* paragraph font size 16px, this is an absolute prefix */
p {
  font-size: 16px;
}
/* class hero set as primary image takes up all webpage as width is set to 100% */
.profilepic {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: url("/Users/rizwanashraf/homework/Homework-week2/portfolio/assets/images/profile-pic.png");
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  float: left;
}
/* stationary image and social media image float left to text */
.float-left {
  float: left;
  margin-right: 25px;
}
/* laptop image set to float right of text */
.float-right {
  float: right;
  margin-left: 25px;
}
/* content takes up 75% of available space and set to inline-block so that they are stacked */
.content {
  margin-left: 20px;
  flex: 1 0 0;
  padding: 10px;
  float: right;
}

/* add style to benefits (adds margin, float to right hand side, padding, font style, background color and font color */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  background-color: #bd6925;
  flex: 1 0 0;
  flex-wrap: wrap;
}

/* consistent margin of 50 px for main section content with box height set at 300px */
.about-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0070bb;
  color: #eff5f9;
  width: 75%;
}

.work-samples {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #eff5f9;
  width: 37%;
}

.resume {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #eff5f9;
  width: 37%;
  margin-left: 1%;
}
.contact-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #eff5f9;
  width: 75%;
}
/* max-height, font-size and margin-bottom for img and h2 heading remain consistent when webpage window size is altered */
.about-me img {
  max-height: 200px;
}

.work-samples img {
  max-height: 200px;
}

.contact-me img {
  max-height: 200px;
}

.resume img {
  max-height: 200px;
}

.about-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.work-samples h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.contact-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.resume h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #eff5f9;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #eff5f9;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #eff5f9;
}
/* heading h3 set to center */
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* heading h3 set to center */
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* heading h3 set to center */
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* margin of image set to 10px 'auto' remains central when webpage window is altered. Display set to block */
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* margin of image set to 10px 'auto' remains central when webpage window is altered. Display set to block */
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* margin of image set to 10px 'auto' remains central when webpage window is altered. Display set to block */
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* footer padding set to 30px and aligned to center */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* footer set to an absolute prefix font size of 20px */
.footer h3 {
  font-size: 20px;
}
